body{
    background: #dcdde1;
}

nav{
    padding: 0.4rem !important;    
}

.navbar-brand img{
    width: 60%;
}
.card-header h3{
    margin-bottom: 0;
}

.image-footer p{
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
}
