<nav class="navbar navbar-dark bg-info">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="/public/img/imgshare-logo.png" alt="imgshare">
        </a>
    </div>
</nav>
